.mainBodyLayout {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;

  /*stepper design*/
  .customStepperNav {
    display: flex;
    //gap: 20px;
    justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    //margin-bottom: 20px;
    background-color: var(--themeColorLite);
    padding: 10px;
  }
  .customStepperItem {
    display: flex;
    justify-content: center;
    align-items: center;
    //   gap: 15px;
    //   width: 300px;
  }
  .stepperId {
    border-radius: 50%;
    border: 1px solid var(--mediumGrey);
    padding: 5px 10px;
    color: var(--whiteColor);
    background: var(--mediumGrey);
  }
  .activeStepperId {
    background: var(--themeColor);
    border: none;
  }
  .stepperSeperator {
    border: 1px dashed lightgray;
    width: 150px;
  }
  .activeStepperSeperator {
    border: 1px dashed var(--themeColorDark);
  }
  .stepperTitleContainer {
    text-align: center;
    .stepperTitle {
      font-size: var(--fontSizeMedium);
      margin: 0px;
      white-space: nowrap;
      font-weight: 500;
      color: #8a9c86;
    }
    .activeStepperTitle {
      color: var(--themeColorDark);
    }
    .stepperIcon {
      text-align: center;
      font-size: var(--fontSizeMedium);
      width: fit-content;
      padding: 8px;
      border-radius: 50%;
      color: var(--blackColor);
      background-color: #c2d6bd;
      border: 1px solid #e7f9e1;
      margin-bottom: 2px;
    }
    .activeStepperIcon {
      text-align: center;
      font-size: var(--fontSizeMedium);
      background-color: var(--themeColorDark);
      width: fit-content;
      padding: 8px;
      border-radius: 50%;
      color: var(--whiteColor);
      margin-bottom: 2px;
    }
  }
}
